/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Base character/paragraph styles */
html {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}
h1 {
  font-size: 3em;
  margin: 10px 10px;
  color: rgb(26, 26, 26);
}
h2 {
  font-size: 1.4em;
  font-weight: 500;
}

h3 {
  font-size: 1em;
  margin: 60px 30px 20px;
  font-weight: 500;
}

p {
  font-size: 1em;
  margin: 20px 30px;
}
a {
  text-decoration: none;
  color: white;
}

/* Universal Lists */
ul {
  list-style-type: none;
}

/* Codes for JS */
.hide {
  display: none !important;
}
.color-darker {
  background-color: black;
}
.color-purple {
  background-color: rgb(15, 1, 15);
}
.project-overview {
  color: white;
  text-shadow: black;
}
.project-overview h2 {
  font-size: 20px;
}
.project-overview p {
  font-size: 16px;
}
.nav-mobile {
  display: flex;
  flex-flow: column wrap;
  margin-top: 15px;
}
.image-guess-after {
  background-image: url("../img/image-guess-after.png");
  background-size: cover;
}
.image-github-after {
  background-image: url("../img/image-github-after.png");
  background-size: cover;
}

/* Universal Buttons */
button {
  padding: 10px 20px;
  border: 2px solid white;
  background-color: transparent;
  font-weight: 300;
}
button:hover {
  background-color: white;
}

/* Buttons on each project page for website links and code */
.viewing {
  border: rgb(224, 223, 223);
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Hero Container */
.hero-container {
  background-image: url("../img/computer.jpg");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  height: 700px;
}
.hero-container h3 {
  margin: 10px 30px;
  padding: 10px 0 30px 0;
}
.half-width {
  padding-top: 20px;
}
.menu {
  line-height: 2em;
}
.title {
  font-size: 1.5em;
}
nav {
  display: none;
  list-style-type: none;
  line-height: 2em;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}
.hero-content h1 {
  margin: 80px 0 5px 0;
  padding: 0 0 5px 0;
}

/* Languages and Skills */
.technology-container {
  margin: 60px 30px;
}
.tech-stack {
  margin-top: 60px;
}
.technology-container h3 {
  font-size: 2em;
}
.tech-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(134, 185, 233);
  color: white;
  font-size: 1em;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 10px 10px;
}

/*
* Images for tech stack
*/
#vs-code {
  background-image: url("../img/vscode.png");
  background-size: cover;
  background-color: rgb(204, 201, 201);
}
#photoshop {
  background-image: url("../img/photoshop.png");
  background-size: cover;
}
#xd {
  background-image: url("../img/xd.png");
  background-size: cover;
}
#illustrator {
  background-image: url("../img/illustrator.png");
  background-size: cover;
}
#indesign {
  background-image: url("../img/indesign.png");
  background-size: cover;
}
#constant-contact {
  background-image: url();
  background-size: cover;
}

/* About Me */
.about {
  background-color:rgb(224, 223, 223);
  padding: 1px 1px 40px 1px;
}
.about p {
  margin: 30px 40px;
}
.about h3 {
  font-size: 2em;
  margin-top: 40px;
}

/* My Work */
.work h3 {
  font-size: 2em;
  margin-bottom: 40px;
}
.work-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
}
.box {
  height: 300px;
  width: 100%;
}
#dominion {
  background-image: url("../img/dominion.png");
  background-size: cover;
}
.image-guess-before {
  background-image: url("../img/image-guess-before.png");
  background-size: cover;
  background-position: 50% 0%;
}
.image-github-before {
  background-image: url("../img/image-github-before.png");
  background-size: cover;
  background-position: 50% 0%;
}
#we-do {
  background-image: url("../img/we-do.png");
  background-size: cover;
}
#unplugged {
  background-image: url("../img/unplugged.png");
  background-size: cover;
}

/* Highlights */
.highlight-details h3 {
  font-size: 2em;
  margin-top: 40px;
}
/* Contact */
.contact {
  background-color:rgb(224, 223, 223);
  padding: 1px 1px 40px 1px;
}
.contact .circle {
  height: 70px;
  width: 70px;
}
.contact h3 {
  font-size: 2em;
  margin-top: 70px;
}
#email {
  background-image: url("../img/email.png");
  background-size: cover;
  background-position: 50%;
}
#linkedin {
  background-image: url("../img/linkedin.png");
  background-size: cover;
  background-position: 50%;
}
#github {
  background-image: url("../img/github.png");
  background-size: cover;
  background-color: white;
}
.credits {
  padding-top: 30px;
}
.footer {
  font-size: .6em;
  line-height: .8em;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 550px) {
  .box {
    height: 300px;
    width: 50%;
  }
}
@media only screen and (min-width: 750px) {
/*
  * Increases font size
  * Adjusts circles size
  * Horizontal menu navigation
  *
*/

/* Base Styles */
  html {
    font-size: 1.6em;
  }
/* Navigation */
.navigation { /* container for full-width */
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.half-width {
  display: flex;
  justify-content: flex-start;
  width: 35%;
}
.half-width2 {
  display: flex;
  justify-content: flex-end;
  width: 65%;
  margin: 0;
  padding-top: 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row wrap;
}
nav li {
  list-style-type: none;
  padding: 0 15px 0 20px;
  font-size: .8em;
}
.menu {
  display: none;
}
.title {
  font-size: 1em;
}

/* Hero content */
.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  margin-top: 5%;
}

/* Languages and Skills */
  .circle {
    height: 110px;
    width: 110px;
    margin: 20px;
  }
  .box {
    height: 250px;
    width: 33.3%;
  }
  .tech-list p {
    font-size: .7em;
  }

/* Contact */
  .contact .circle {
    height: 90px;
    width: 90px;
  }

/* JS code */
  .project-overview h2 {
    font-size: 18px;
  }
  .project-overview p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) {
  .box {
    height: 350px;
  }
  .about p {
    margin-left: 100px;
    margin-right: 100px;
  }
  nav li {
    padding: 0 30px 0 20px;
  }

/* JS code */
  .project-overview h2 {
    font-size: 25px;
  }
  .project-overview p {
    font-size: 18px;
  }
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

