html, body, footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #05588c;
}

/***** ABOUT *****/
#about {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}  
#about h1 {
  font-size: 1.8em;
  margin: 20px;
  color: #00558c;
  text-align: center;
  padding-top: 20px;
}
#about h2 {
  font-size: 1.2em;
  margin: 0 30px 10px;
  color: #00558c;
  text-align: center;
}

/***** BLOCK *****/
.block-one, .block-two, .block-three, .block-four, .block-five {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.banner, .banner2 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #009ecc;
  color: white;
  margin: 30px 0px 10px;
  width: 90%;
  padding: 15px 0;
}
.banner p, .banner2 p {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 10px;
  text-align: center;
}
.main-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.main-content p {
  font-size: 1em;
  margin: 10px 20px;
  text-align: center;
  color: #05588c;
}
.main-content img {
  height: 50px;
  padding: 10px 0;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #05588c 1px;
  margin: 20px 20px;
  padding: 0 20px;
  width: 70px;
  background-color: white;
}
.button:hover {
  background-color: #05588c;
  border: solid #05588c 1px;
  color: white;
}
.button:hover p {
  color: white;
}
.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  background-color: white;
  width: 100%;
  padding-top: 20px;
}
#call-out {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  border: dotted #009ecc 2px;
  border-top: none;
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
}
#call-out h3 {
  background-color: #009ecc;
  margin: 0;
  width: 100%;
  padding: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: white;
  font-size: 1.2em;
}
.block-four .banner {
  height: 40px;
  line-height: 40px;
}


@media only screen and (min-width: 768px) {
/* 
Adjusts the about section width
Adjusts widths of banner
Adjusts widths of main-content
*/
 
  /***** ABOUT *****/ 
  #about {
    width: 90%;
  }
  #about h1 {
    font-size: 1.8em;
  }
  #about h2 {
    font-size: 1.3em;
  }
  /***** BLOCK *****/ 
  .banner, .banner2, .main-content p, .button2 {
    width: 90%;
  }
 
}
    
@media only screen and (min-width: 992px) {
/* 
Adjusts about section width and text size
*/
  /***** ABOUT *****/ 
  #about {
    width: 80%;
  }
  #about h1 {
    font-size: 2em;
  }
  #about h2 {
    font-size: 1.5em;
  }
  #call-out h3 {
    height: 70px;
    line-height: 70px;
  }
  .block-four .banner {
    height: 50px;
    line-height: 50px;
  }
}

@media only screen and (min-width: 1198px) {
/* 
Adjusts about section width
*/
  /***** BLOCKS *****/
  #blocks {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
  .block-one, .block-two, .block-three, .block-four {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
  } 
  .block-five {
    display: flex;
    flex-flow: column wrap;
    width: 95%;
    background-color: #099ecc;
    margin-top: 30px;
  }
  .banner2 p {
    font-size: 1.5em;
  }
  .banner {
    height: 45px;
  }
  .main-content img {
    height: 50px;
  }
  .banner2, .button2 {
    width: 100%;
    margin: 0 auto;
  }
  #call-out {
    width: 75%;
  }
}